<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7e4061163e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/phuong.css"/>
    <link rel="stylesheet" type="text/css" href="css/hoa.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bach.css"/>
    <title>Natural Park handmade by Funny-dev</title>
</head>