<header class="section" style="position: relative">
    <div class="slide_header">
        <ul class="section">
            <li id="banner1" style="background-image: url('imgs/phuong/banner_home3.jpg')"></li>
            <li id="banner2" style="background-image: url('imgs/phuong/banner_home4.jpg')"></li>
        </ul>
    </div>
    <div class="bg_fade"></div>
    <div class="section" id="nav_bar">
        <div class="container">
            <div class="row text-center">
                <div class="section bar_header">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-2" id="logo">
                        <div class="full">
                            <a style="" href="/"><img style="width: 100px" src="imgs/phuong/logo_white.png"></a>
                        </div>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="bar_item col-xs-1" onmouseenter="bar_enter(this)" onmouseleave="bar_leave(this)">
                        <div class="full">
                            <a href="/">Home</a></div>
                    </div>
                    <div class="bar_item col-xs-1" onmouseenter="bar_enter(this)" onmouseleave="bar_leave(this)">
                        <div class="full">
                            <a href="/parks">Parks</a>
                            <div class="dd">
                                <ul>
                                    <li onmouseenter="item_enter(this)" onmouseleave="item_leave(this)"><a href="/">CV 1</a></li>
                                    <li onmouseenter="item_enter(this)" onmouseleave="item_leave(this)"><a href="/">CV 2</a></li>
                                    <li onmouseenter="item_enter(this)" onmouseleave="item_leave(this)"><a href="/">CV 3</a></li>
                                    <li onmouseenter="item_enter(this)" onmouseleave="item_leave(this)"><a href="/">CV 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bar_item bar_dd col-xs-1" onmouseenter="bar_enter(this)" onmouseleave="bar_leave(this)">
                        <div class="full">
                            <a href="/">Animals</a>
                            <div class="dd">
                                <ul>
                                    <li onmouseenter="item_enter(this)" onmouseleave="item_leave(this)"><a href="/">Loai 1</a></li>
                                    <li onmouseenter="item_enter(this)" onmouseleave="item_leave(this)"><a href="/">Loai 2</a></li>
                                    <li onmouseenter="item_enter(this)" onmouseleave="item_leave(this)"><a href="/">Loai 3</a></li>
                                    <li onmouseenter="item_enter(this)" onmouseleave="item_leave(this)"><a href="/">Loai 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="section" style="margin-left: -15px; margin-right: -15px">
                            <div class="bar_item col-xs-4" onmouseenter="bar_enter(this)" onmouseleave="bar_leave(this)">
                                <div class="full">
                                    <a href="/">Contact us</a></div>
                            </div>
                            <div class="bar_item col-xs-4" onmouseenter="bar_enter(this)" onmouseleave="bar_leave(this)">
                                <div class="full">
                                    <a href="/">About us</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text_header" style="position: absolute">
        <div class="section">
            <div class="container">
                <div class="text text-center">
                    <h1>It's time to<br>start exploring Nature</h1>
                    <p>Our parks is ready to serve you in this summer. It will be fun certainly!</p>
                    <button class="btn btn-default btn_info" onmouseenter="btn_enter(this)" onmouseleave="btn_leave(this)">MORE INFO</button>
                </div>
            </div>
        </div>
    </div>
</header>