<header class="section" style="position: relative">
    <div class="bg_fade"></div>
    <div class="section" id="nav_bar">
        <div class="container">
            <div class="row text-center">
                <div class="section bar_header">
                    <div class="col-xs-3" id="logo">
                        <div class="full">
                            <a style="" href="/"><img style="width: 75px" src="imgs/phuong/logo_white.png"></a>
                        </div>
                    </div>
                    <div class="col-xs-4"></div>
                    <div class="bar_item col-xs-1">
                        <div class="full text-center">
                            <a href="/">Home</a></div>
                    </div>
                    <div class="bar_item col-xs-1">
                        <div class="full text-center">
                            <a href="/parks">Parks</a>
                            <div class="dd" style="left: 27px;">
                                <ul style="font-family: 'Trirong', serif;">
                                    <li ><a href="/">CV 1</a></li>
                                    <li ><a href="/">CV 2</a></li>
                                    <li ><a href="/">CV 3</a></li>
                                    <li ><a href="/">CV 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bar_item bar_dd col-xs-1">
                        <div class="full text-center">
                            <a href="/species">Animals</a>
                            <div class="dd" style="left: 18px;">
                                <ul style="font-family: 'Trirong', serif;">
                                    <li ><a href="/animal">Loai 1</a></li>
                                    <li ><a href="/animal">Loai 2</a></li>
                                    <li ><a href="/animal">Loai 3</a></li>
                                    <li ><a href="/animal">Loai 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="section">
                            <div class="bar_item col-xs-6">
                                <div class="full">
                                    <a href="/">Contact us</a></div>
                            </div>
                            <div class="bar_item col-xs-6">
                                <div class="full">
                                    <a href="/">About us</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text_header" style="position: absolute">
        <div class="section">
            <div class="container">
                <div class="text text-center">
                    <h1 style="font-family: 'Montserrat', sans-serif !important;">It's time to<br>start exploring Nature</h1>
                    <p style="font-family: 'Trirong', serif;">Our parks is ready to serve you in this summer. It will be fun certainly!</p>
                    <button class="btn btn-default btn_info" onmouseenter="btn_enter(this)" onmouseleave="btn_leave(this)">MORE INFO</button>
                </div>
            </div>
        </div>
    </div>
</header>