<header class="section">
    <div class="container">
        <div class="logo col-xs-2">
            <a href="/"><img src="imgs/logo.png"></a>
        </div>
        <div class="bar_item col-xs-2"><a href="/">Home</a></div>
        <div class="bar_item col-xs-2"><a href="/">Parks</a></div>
        <div class="bar_item bar_dd col-xs-2">
            <a href="/">Animals</a>
            <div class="dd">
                <ul>
                    <li>Loai 1</li>
                    <li>Loai 1</li>
                    <li>Loai 1</li>
                    <li>Loai 1</li>
                </ul>
            </div>
        </div>
    </div>
</header>