<header class="section">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="imgs/logo.png" alt=""></a>
        </div>
        <div class="bar_item"><a href="/">Home</a></div>
        <div class="bar_item"><a href="/">Parks</a></div>
        <div class="bar_item bar_dd">
            <a href="/">Animals</a>
            <div class="dd">
                <ul>
                    <li>Loai 1</li>
                    <li>Loai 1</li>
                    <li>Loai 1</li>
                    <li>Loai 1</li>
                </ul>
            </div>
        </div>
    </div>
</header>