<header class="section" style="position: relative">
    <div class="bg_fade"></div>
    <div class="section" id="nav_bar">
        <div class="container_p">
            <div class="row text-right">
                <div class="section bar_header">
                    <div class="col-xs-1 col-md-3" id="logo">
                        <div class="full">
                            <a style="" href="/"><img style="width: 85px" src="http://eproject-funnydev.herokuapp.com/imgs/phuong/logo_white.png"></a>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-xs-10 col-md-8">
                        <div style="margin-right: -30px;margin-left: -30px;">
                            <div class="bar_item">
                                <div class="full">
                                    <a href="/contact">Contact us</a>
                                </div>
                            </div>
                            <div class="bar_item">
                                <div class="full">
                                    <a>About us</a>
                                </div>
                            </div>
                            <div class="bar_item bar_dd">
                                <div class="full">
                                    <a>Animals</a>
                                    <div class="dd" style="left: 14px;">
                                        <ul style="font-family: 'Trirong', serif;">
                                            <li ><a href="/specy/1">Mammals</a></li>
                                            <li ><a href="/specy/2">Reptiles</a></li>
                                            <li ><a href="/specy/3">Birds</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="bar_item">
                                <div class="full">
                                    <a href="">Parks</a>
                                    <div class="dd" style="left: 13px;">
                                        <ul style="font-family: 'Trirong', serif;">
                                            <li ><a href="/park/5">Cat Ba Park</a></li>
                                            <li ><a href="/park/6">Cuc Phuong Park</a></li>
                                            <li ><a href="/park/7">Cat Tien Park</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="bar_item">
                                <div class="full">
                                    <a href="/">Home</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
