<header class="section" style="position: relative">
    <div class="bg_fade"></div>
    <div class="section" id="nav_bar">
        <div class="container_p">
            <div class="row text-right">
                <div class="section bar_header">
                    <div class="col-xs-1 col-md-3" id="logo">
                        <div class="full">
                            <a style="" href="/"><img style="width: 85px" src="imgs/phuong/logo_white.png"></a>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-xs-10 col-md-8">
                        <div style="margin-right: -30px;margin-left: -30px;">
                            <div class="bar_item">
                                <div class="full">
                                    <a href="/contact">Contact us</a>
                                </div>
                            </div>
                            <div class="bar_item">
                                <div class="full">
                                    <a>About us</a>
                                </div>
                            </div>
                            <div class="bar_item bar_dd">
                                <div class="full">
                                    <a>Animals</a>
                                    <div class="dd" style="left: 16px;">
                                        <ul style="font-family: 'Trirong', serif;">
                                            <li ><a href="/specy">Loai 1</a></li>
                                            <li ><a href="/specy">Loai 2</a></li>
                                            <li ><a href="/specy">Loai 3</a></li>
                                            <li ><a href="/specy">Loai 4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="bar_item">
                                <div class="full">
                                    <a href="/park">Parks</a>
                                    <div class="dd" style="left: 26px;">
                                        <ul style="font-family: 'Trirong', serif;">
                                            <li ><a href="/park">CV 1</a></li>
                                            <li ><a href="/park">CV 2</a></li>
                                            <li ><a href="/park">CV 3</a></li>
                                            <li ><a href="/park">CV 4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="bar_item">
                                <div class="full">
                                    <a href="/">Home</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text_header" style="position: absolute">
        <div class="section">
            <div class="container_p">
                <div class="text text-center">
                    <h1 style="font-family: 'Montserrat', sans-serif !important;">It's time to<br>start exploring Nature</h1>
                    <p style="font-family: 'Trirong', serif;">Our parks is ready to serve you in this summer. It will be fun certainly!</p>
                    <button class="btn btn-default btn_info" onmouseenter="btn_enter(this)" onmouseleave="btn_leave(this)">MORE INFO</button>
                </div>
            </div>
        </div>
    </div>
</header>