<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') -%>
<body>
    <%- include('header.ejs') -%>
    <div class="section" style="position: relative">
        <div class="slide_header">
            <ul class="section">
                <li id="banner1" style="background-image: url('imgs/phuong/banner_home3.jpg')"></li>
                <li id="banner2" style="background-image: url('imgs/phuong/banner_home4.jpg')"></li>
            </ul>
        </div>
    </div>
    <div class="section" style="height: 700px"></div>
    <div class="section">
        <div class="container">
            <div class="row home_abus">
                <div class="col-xs-1"></div>
                <div class="text-center col-xs-10">
                    <h1>ABOUT US</h1>
                    <p style="font-style: italic;">We are Funny-dev team. This is our new eproject. Enjoy it!</p>
                    <p class="home_abus_desc">
                        Our team has 3 members: Vu Hoang Phuong, Vu Thi Mai Hoa and Cao Vuong Bach. We are welcome all of you to visit our website.
                        This website provides information of national parks, animals and share some advise, review from people who came our parks.
                    </p>
                </div>
                <div class="col-xs-1"></div>
                <div class="section text-center">
                    <div class="col-xs-4">
                        <div class="full">
                            <img src="imgs/phuong/bach.jpg" alt="">
                            <h4>Cao Vuong Bach</h4>
                            <p>Ha Noi</p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="full">
                            <img src="imgs/phuong/phuong.jpg" alt="">
                            <h4>Vu Hoang Phuong</h4>
                            <p>Phu Tho</p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="full">
                            <img src="imgs/phuong/hoa.jpg" alt="">
                            <h4>Vu Thi Mai Hoa</h4>
                            <p>Thai Binh</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="background-color: rgb(246, 246, 246)">
        <div class="container">
            <div class="row home_advantage">
                <div class="col-xs-4">
                    <div class="full">
                        <i class="fas fa-cloud-sun-rain"></i>
                        <h4>In every conditions</h4>
                        <p>Don't worry about weather. We serve all of you in every conditions! It's wonderful, isn't it?</p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="full">
                        <i class="fas fa-users"></i>
                        <h4>In every conditions</h4>
                        <p>Don't worry about weather. We serve all of you in every conditions! It's wonderful, isn't it?</p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="full">
                        <i class="fas fa-hand-holding-usd"></i>
                        <h4>In every conditions</h4>
                        <p>Don't worry about weather. We serve all of you in every conditions! It's wonderful, isn't it?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer.ejs') -%>
</body>
</html>
