<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') -%>
<body>
<<<<<<< HEAD

=======
    <%- include('header.ejs') -%>
    <div class="section" style="position: relative">
        <div id="slide-banner"></div>
        <div class="container">
            <div class="text text-center">
                <h1>It's time to<br>start exploring Nature</h1>
                <p>Our parks is ready to serve you in this summer. It will be fun certainly!</p>
                <button class="btn btn-default btn_info">MORE INFO</button>
            </div>
        </div>
    </div>
    <%- include('footer.ejs') -%>
>>>>>>> origin/master
</body>
</html>
