<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') -%>
<body>
<<<<<<< HEAD

=======
    <%- include('header.ejs') -%>
    <div class="section">
        <div id="slide-banner">

        </div>
    </div>
    <%- include('footer.ejs') -%>
>>>>>>> origin/master
</body>
</html>
