<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') -%>
<body>

    <%- include('header.ejs') -%>
    <div class="section" style="position: relative">
        <div class="slide_header">
            <ul class="section">
                <li class="banner1 " style="background-image: url('imgs/phuong/banner_home3.jpg')"></li>
                <li class="banner2 " style="background-image: url('imgs/phuong/banner_home4.jpg')"></li>
            </ul>
        </div>
    </div>
    <div class="section" style="height: 750px"></div>
    <div class="section">
        <div class="container_p">
            <div class="row home_abus">
                <div class="text-center section">
                    <h1>ABOUT US</h1>
                    <p style="font-style: italic;">We are Funny-dev team. This is our new eproject. Enjoy it!</p>
                    <p class="home_abus_desc">
                        Our team has 3 members: Vu Hoang Phuong, Vu Thi Mai Hoa and Cao Vuong Bach. We are welcome all of you to visit our website.
                        This website provides information of national parks, animals and share some advise, review from people who came our parks.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="background-color: rgb(246, 246, 246)">
        <div class="container_p">
            <div class="row home_advantage text-center  ">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="full">
                            <i class="fab fa-airbnb "></i>
                            <h4>In every conditions</h4>
                            <p>Don't worry about weather. We'll serve you in every conditions! It's wonderful, isn't it?
                                Don't worry about weather. We'll serve you in every conditions! It's wonderful, isn't it?
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="full">
                            <i class="fab fa-app-store"></i>
                            <h4>In every conditions</h4>
                            <p>Don't worry about weather. We'll serve you in every conditions! It's wonderful, isn't it?
                                Don't worry about weather. We'll serve you in every conditions! It's wonderful, isn't it?
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="full">
                            <i class="fab fa-bity"></i>
                            <h4>In every conditions</h4>
                            <p>Don't worry about weather. We'll serve you in every conditions! It's wonderful, isn't it?
                                Don't worry about weather. We'll serve you in every conditions! It's wonderful, isn't it?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container-fluid">
            <div class="row home_list_img">
                <div class="col-xs-6 col-md-2">
                    <div></div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div></div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div></div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div></div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div></div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div></div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div></div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section viewpoint" style="padding-bottom: 50px">
        <div class="line line_phuong center padding_top">
            <h2 class="text-center">Featured Trips</h2>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="collect2">
                <div class="owl-carousel">
                    <div class="rollitem  rollitem_phuong">
                        <div class="box_b">
                            <img src="imgs/phuong/trip2.jpg"/>
                            <div class="detail detail_phuong col-md-12">
                                <div class="col-md-4 text-center">
                                    <h3>3</h3>
                                    <h4>Days</h4>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h3>10</h3>
                                    <h4>Group Size</h4>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h3>High</h3>
                                    <h4>Difficulty</h4>
                                </div>
                            </div>
                            <div class="name detail_phuong col-md-12">
                                <h6 class="text-center">CHECKING EXPEDITION</h6>
                            </div>
                            <div class="full detail_phuong text-center">
                                <h5>Cuc Phuong Park</h5>
                                <h4>Viet Nam</h4>
                            </div>
                        </div>
                    </div>
                    <div class="rollitem  rollitem_phuong">
                        <div class="box_b">
                            <img src="imgs/phuong/trip2.jpg"/>
                            <div class="detail detail_phuong col-md-12">
                                <div class="col-md-4 text-center">
                                    <h3>3</h3>
                                    <h4>Days</h4>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h3>10</h3>
                                    <h4>Group Size</h4>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h3>High</h3>
                                    <h4>Difficulty</h4>
                                </div>
                            </div>
                            <div class="name detail_phuong col-md-12">
                                <h6 class="text-center">CHECKING EXPEDITION</h6>
                            </div>
                            <div class="full detail_phuong text-center">
                                <h5>Cuc Phuong Park</h5>
                                <h4>Viet Nam</h4>
                            </div>
                        </div>
                    </div>
                    <div class="rollitem  rollitem_phuong">
                        <div class="box_b">
                            <img src="imgs/phuong/trip2.jpg"/>
                            <div class="detail detail_phuong col-md-12">
                                <div class="col-md-4 text-center">
                                    <h3>3</h3>
                                    <h4>Days</h4>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h3>10</h3>
                                    <h4>Group Size</h4>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h3>High</h3>
                                    <h4>Difficulty</h4>
                                </div>
                            </div>
                            <div class="name detail_phuong col-md-12">
                                <h6 class="text-center">CHECKING EXPEDITION</h6>
                            </div>
                            <div class="full detail_phuong text-center">
                                <h5>Cuc Phuong Park</h5>
                                <h4>Viet Nam</h4>
                            </div>
                        </div>
                    </div>
                    <div class="rollitem  rollitem_phuong">
                        <div class="box_b">
                            <img src="imgs/phuong/trip2.jpg"/>
                            <div class="detail detail_phuong col-md-12">
                                <div class="col-md-4 text-center">
                                    <h3>3</h3>
                                    <h4>Days</h4>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h3>10</h3>
                                    <h4>Group Size</h4>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h3>High</h3>
                                    <h4>Difficulty</h4>
                                </div>
                            </div>
                            <div class="name detail_phuong col-md-12">
                                <h6 class="text-center">CHECKING EXPEDITION</h6>
                            </div>
                            <div class="full detail_phuong text-center">
                                <h5>Cuc Phuong Park</h5>
                                <h4>Viet Nam</h4>
                            </div>
                        </div>
                    </div>
                    <div class="rollitem  rollitem_phuong">
                        <div class="box_b">
                            <img src="imgs/phuong/trip2.jpg"/>
                            <div class="detail detail_phuong col-md-12">
                                <div class="col-md-4 text-center">
                                    <h3>3</h3>
                                    <h4>Days</h4>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h3>10</h3>
                                    <h4>Group Size</h4>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h3>High</h3>
                                    <h4>Difficulty</h4>
                                </div>
                            </div>
                            <div class="name detail_phuong col-md-12">
                                <h6 class="text-center">CHECKING EXPEDITION</h6>
                            </div>
                            <div class="full detail_phuong text-center">
                                <h5>Cuc Phuong Park</h5>
                                <h4>Viet Nam</h4>
                            </div>
                        </div>
                    </div>
                    <div class="rollitem  rollitem_phuong">
                        <div class="box_b">
                            <img src="imgs/phuong/trip2.jpg"/>
                            <div class="detail detail_phuong col-md-12">
                                <div class="col-md-4 text-center">
                                    <h3>3</h3>
                                    <h4>Days</h4>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h3>10</h3>
                                    <h4>Group Size</h4>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h3>High</h3>
                                    <h4>Difficulty</h4>
                                </div>
                            </div>
                            <div class="name detail_phuong col-md-12">
                                <h6 class="text-center">CHECKING EXPEDITION</h6>
                            </div>
                            <div class="full detail_phuong text-center">
                                <h5>Cuc Phuong Park</h5>
                                <h4>Viet Nam</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="section">
        <div class="background">
            <div class="review">
                <div class="owl-carousel">
                    <div class="comment comment_phuong">
                        <p class="text-center">A great place to visit. Lots of green, easy to relax. Most paths are marked so that you can’t get lost in the jungle.
                            I would definitely recommend a visit to all Cat Ba visitors.</p>
                    </div>
                    <div class="comment comment_phuong">
                        <p class="text-center">Amazing surroundings, great atmosphere, sometimes the trekking might be difficult but its with it.</p>
                    </div>
                    <div class="comment comment_phuong">
                        <p class="text-center">Stunning view and only a short walk up to the viewpoint.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="padding-bottom: 30px">
        <div class="container_p">
            <div class="row home_abus">
                <div class="text-center section">
                    <h1>OUR FABULOUS TEAM</h1>
                    <p><i>Thanks for visiting our website!</i></p>
                </div>
                <div class="section text-center">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 home_info1">
                            <div class="full">
                                <img src="imgs/phuong/bach.jpg" alt="">
                                <h4>Cao Vuong Bach</h4>
                                <p>Ha Noi</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 home_info2" style="opacity: 0; transition: 1.8s">
                            <div class="full">
                                <img src="imgs/phuong/phuong.jpg" alt="">
                                <h4>Vu Hoang Phuong</h4>
                                <p>Phu Tho</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 home_info3">
                            <div class="full">
                                <img src="imgs/phuong/hoa.jpg" alt="">
                                <h4>Vu Thi Mai Hoa</h4>
                                <p>Thai Binh</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer.ejs') -%>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script type="text/javascript">
        var current = 1;
        var sl = $(".rollitem");
        // setInterval(function () {
        //     if (current < 3){
        //         current++;
        //         for (var i=1;i<sl.length;i++){
        //             if((i != current) & (i!=current+1) ){
        //                 sl[i].classList.remove('active');
        //             }
        //         }
        //         $(".view").animate({left:"-=450px"});
        //         sl[current+1].classList.add('active');
        //     } else {
        //         current = 1;
        //         for (var i=1;i<sl.length;i++){
        //             if((i != current) & (i!=current+1) ){
        //                 sl[i].classList.remove('active');
        //             }
        //         }
        //         $(".view").css({left:"-450px"});
        //         sl[current].classList.add('active');
        //         sl[current+1].classList.add('active');
        //     }
        // },3000)

        $(document).ready(function(){
            $(".collect2 .owl-carousel").owlCarousel({
                loop:true,
                margin:50,
                items: 2,
                center: false,
                autoplay: true,
                autoplayTimeout:3000,
            });
        });
        $(document).ready(function(){
            $(".review .owl-carousel").owlCarousel({
                loop:true,
                items: 1,
                center: true,
            });
        });



    </script>
</body>
</html>
