<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') -%>
<body>
    <%- include('header.ejs') -%>
    <section class="section_hoa">
        <div class="container_hoa col-xs-12">
            <div class="avt_hoa col-xs-12">
                <p>Mammals include humans and all other animals that are warm-blooded vertebrates (vertebrates
                have backbones) with hair. They feed their young with milk and have a more well-developed
                brain than other types of animals.</p>
            </div>
            <div class="decription_hoa col-xs-8">
                <div class="col-xs-6">
                    <p>Regnum: Animalia</p>
                    <p>Phylum: Chordata</p>
                    <p>Superphylum: Deuterostomia</p>
                    <p>Superclass: Tetrapoda</p>
                </div>
                <div class="col-xs-6">
                    <p>Mammalia: is an endothermic branch of amniotic fluid distinguished from
                        birds by the appearance of cilia, [a] three middle ear bones, mammary gland,
                        and new cortex (neocortex, an area of the brain). The brain regulates body
                        temperature and circulatory system, including a four-chambered heart.
                        The Zoo class includes the largest living animals (like blue whales and a
                        few other species of whales), as well as the smartest animals - like elephants,
                        some primates and whales.</p>
                </div>
            </div>
            <div class="product_hoa col-xs-8">q
                <div class="image1  "><img src="public/imgs/hinh-anh-bao-dom-1.jpg"width="537px" height="285px"></div>
                <div class="image1 "><img src="public/imgs/images.jpg"width="537px" height="285px"></div>
                <div class="image1  "><img src="public/imgs/images%20(5).jpg"width="537px" height="285px"></div>
                <div class="image1  "><img src="public/imgs/300px-Katta_Lemur_catta_Zoo_Augsburg-04.jpg"width="537px" height="285px"></div>
            </div>
        </div>
    </section>
    <%- include('footer.ejs') -%>
</body>
</html>
