<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') -%>
<body>
<%- include('header.ejs') -%>
<div class="section" style="position: relative">
    <div class="slide_header">
        <ul class="section">
            <li id="banner1 " style="background-image: url('imgs/hoa/banner2.jpg')"></li>
            <li id="banner2 " style="background-image: url('imgs/hoa/pic.jpg')"></li>
        </ul>
    </div>
</div>
<div class="section" style="height: 700px"></div>
<section class="section_hoa">
    <div class="section_hoa decription_hoa col-xs-12">
        <div class="decr1_hoa col-xs-12 text-center ">
            <h1>MAMMALS</h1>
            <div class="decr1_hoa col-xs-12 text-center ">
                <p><i>They feed their young with milk and have a more well-developed brain than other types of animals.</i></p>
            </div>
        </div>
    </div>
    <div class=" decr1_hoa col-xs-12 text-center">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <p>Mammalia: is an endothermic branch of amniotic fluid distinguished from
                birds by the  appearance of cilia, [a] three middle ear bones, mammary gland,
                and new cortex . The brain regulates body temperature and circulatory system,
                including a four-chambered heart.The Zoo class includes the largest living animals
                , as well as the smartest animals like elephants,
                some primates and whales.</p>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="info_hoa section_hoa col-xs-12 text-center">
        <div class="info1 col-xs-5 text-center">
            <h4>Biological systems</h4>
            <p>The majority of mammals have seven cervical vertebrae , including bats, giraffes, whales and humans. The exceptions
                are the manatee and the two-toed sloth, which have just six, and the three-toed sloth which has nine
                cervical vertebrae. All mammalian brains possess a neocortex.</p>
        </div>
        <div class="info2 col-xs-2  text-center">
            <h4>Origins</h4>
            <p>Synapsida, a clade that contains mammals and their extinct relatives, originated during the Pennsylvanian
                subperiod , when they split from reptilian and avian lineages.
                Crown group mammals evolved from earlier mammaliaforms during the Early Jurassic.</p>
        </div>

        <div class="info3 col-xs-5  text-center">
            <h4>The first mammal</h4>
            <p> In the early Triassic, most medium to large land carnivore niches were taken over by archosaurs which ,
                came to include the crocodylomorphs, large cynodonts like Trucidocynodon and traversodontids
                still occupied large sized carnivorous and herbivorous niches respectively.</p>
        </div>
    </div>
    <div class="product col-xs-12">
        <div class=" product1 col-xs-2"><img src="imgs/hoa/pro1.jpg"height="165px"></div>
        <div class=" product1 col-xs-2"><img src="imgs/hoa/pro2.jpg"height="165px"></div>
        <div class=" product1 col-xs-2"><img src="imgs/hoa/pro3.jpg"height="165px"></div>
        <div class=" product1 col-xs-2"><img src="imgs/hoa/pro8.jpg"height="165px"></div>
        <div class=" product1 col-xs-2"><img src="imgs/hoa/pro4.jpg"height="165px"></div>
        <div class=" product1 col-xs-2"><img src="imgs/hoa/pro9.jpg"height="165px"></div>
    </div>
    <div class="tour col-xs-12 ">
        <div class=" col-xs-12 text-center">
            <h5>|</h5>
            <h1>Explore Tours</h1>
        </div>
        <div class="col-xs-12 info4">
            <div class="col-xs-2"></div>
            <div class="box col-xs-4">
                <div class="col-xs-6 box1"><img src="imgs/hoa/tour1.jpg" ></div>
                <div class="col-xs-5 box2 ">
                    <h4>Lake Baikal</h4>
                    <p>16.04.2014</p>
                    <p>Lake Baikal is the largest freshwater lake by volume in the world. It is the seventh-largest
                        lake in the world by surface area.</p>
                    <div class=""><h6>Travel</h6></div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
            <div class="box col-xs-4 ">
                <div class="col-xs-6 box1"><img src="imgs/hoa/tour.jpg"></div>
                <div class="col-xs-5 box2">
                    <h4>Ha Long Bay</h4>
                    <p>05.05.2000</p>
                    <p>Ha Long Bay is a UNESCO World Heritage Site in Quảng Ninh Province , Vietnam.The
                        name Hạ Long means "descending dragon".</p>
                    <h6>Travel</h6>
                    <div class="col-xs-1"></div>
                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
</section>
<%- include('footer.ejs') -%>
</body>
</html>
