<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') -%>
<body>
<%- include('header.ejs') -%>
<section class="section_hoa">
    <div class="section_hoa avt_hoa col-xs-12 ">
    </div>
    <div class="section_hoa decription_hoa col-xs-12">
        <div class="col-xs-2 "></div>
        <div class="decr1_hoa col-xs-4 ">
            <h1>SPECIES DESCRIPTION</h1>
            <i><p>Regnum: Animalia</p>
            <p>Phylum: Chordata</p>
            <p>Superphylum: Deuterostomia</p>
            <p>Superclass: Tetrapoda</p></i>
        </div>
        <div class=" decr2_hoa col-xs-4 text-center">
            <p><i>Mammalia: is an endothermic branch of amniotic fluid distinguished from
                birds by the  appearance of cilia, [a] three middle ear bones, mammary gland,
                and new cortex . The brain regulates body temperature and circulatory system,
                 including a four-chambered heart.The Zoo class includes the largest living animals
                 , as well as the smartest animals like elephants,
                    some primates and whales.</i></p>
        </div>
        <div class="col-xs-2 "></div>
    </div>
    <div class="section_hoa product_hoa col-xs-12">
        <div class="section_hoa tour col-xs-12 text-center "> <h2>Animals</h2> </div>
        <div class="section_hoa image col-xs-12">
            <div class=" col-xs-2 "></div>
            <div class="image1_hoa  col-xs-4 text-center"><img src="/imgs/hoa/hinh-anh-bao-dom-1.jpg"></div>
            <div class="image1_hoa  col-xs-4 text-center"><img src="/imgs/hoa/vooc-mui-hech_zrfe.jpg" ></div>
            <div class=" col-xs-2 "></div>
        </div>
        <div class="section_hoa image col-xs-12">
            <div class=" col-xs-2 "></div>
            <div class="image1_hoa  col-xs-4 text-center"><img src="/imgs/hoa/1.jpg"></div>
            <div class="image1_hoa  col-xs-4 text-center"><img src="/imgs/hoa/5_LAEN.jpg" ></div>
            <div class=" col-xs-2 "></div>
        </div>
    </div>
    <div class="section_hoa col-xs-12 ">
        <div class="section_hoa tour col-xs-12 text-center"><h1>Explore Tours</h1></div>
        <div class="section_hoa image col-xs-12">
            <div class="image1_hoa  col-xs-3 text-center">
                <div class="box">
                    <img src="/imgs/bach/catba6.jpg">
                    <div class="col-xs-6">
                        <p></p>
                        <p>Monkey Island </p>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Detail</button>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <p></p>
                        <p> 100$</p>
                        <p> 2 hour</p>
                    </div>
                </div>
            </div>
            <div class="image1_hoa  col-xs-3 text-center">
                <div class="box">
                    <img src="/imgs/bach/catba2.jpg" >
                    <div class="col-xs-6">
                        <p></p>
                        <p>Cat Ba </p>
                        <div class="form-group">
                            <button class="btn btn btn-warning" type="submit">Detail</button>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <p></p>
                        <p>120$</p>
                        <p>2 hour</p>
                    </div>
                </div>
            </div>
            <div class="image1_hoa  col-xs-3 text-center">
                <div class="box">
                    <img src="/imgs/bach/catba5.jpg">
                    <div class="col-xs-8">
                        <p></p>
                        <p>Kayaking Lan Ha Bay </p>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Detail</button>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <p></p>
                        <p>60$</p>
                        <p>1 hour</p>
                    </div>
                </div>
            </div>
            <div class="image1_hoa  col-xs-3 text-center">
                <div class="box">
                    <img src="/imgs/bach/catba-banner.jpg">
                    <div class="col-xs-8">
                        <p></p>
                        <p>Kim Giao Forest</p>
                        <div class="form-group">
                            <button class="btn btn btn-warning" type="submit">Detail</button>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <p></p>
                        <p>120$</p>
                        <p>3 hour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('footer.ejs') -%>
</body>
</html>