<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sản phẩm</title>
    <link type="text/css" rel="stylesheet" href="boostrap3.3.7/css/bootstrap.css">
</head>
<body>
    <div>aoajsdojasdj</div>
</body>
</html>