img{
    display: block;
    width: 100%;
    height: 100%;
}
.headbanner{
    width: 100%;
    height: 700px;
}
.descri{
    display: block;
    width: 400px;
    height: 400px;
    margin-left: 87px;
}
.padding-box{
    display: block;
    padding: 20px;
}
.box_b{
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
.card{
    width: 80%;
    height: 400px;
    margin: 0 auto;
}
.name{
    width: 90%;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.2) ;
    margin-left: 17px;
}
.name h4{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #2F2911;
    letter-spacing: 0.5px;
}
.content{
    width: 70%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.content p, .infomation p{
    font-family: "Trirong", serif;
    color: #6E6B66;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 300;
    margin-top: 10px;
}
p.subtitle{
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    color: #6E6B66;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-bottom: 30px;
    margin-top: -10px;
}
h6.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 40px #888b8d;
}
.slide{
    width: 100%;
    height: 700px;
    position: relative;
    object-fit: cover;
    background-color: white;
    overflow: hidden;
}
.animal{
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(173,255,47,0.7);
    z-index: 10;
}
.infomation{
    width: 70%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
}
.infomation table{
    margin-top: 50px;
}
.avatar{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    display: inline-block;
}
.avatar img{
    border-radius: 50%;
    object-fit: cover;
}
.zoom{
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
}
.zoom img{
    transition: transform .5s ease;
}
.zoom:hover img{
    transform: scale(1.1);
}
.line h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
    font-size: 26px;
    font-weight: 300;
    line-height: 40px;
    margin-top: 50px;
    text-shadow: 2px 2px 40px #888b8d;
}
.line h2:after{
    content: "  ";
    display: block;
    width: 2px;
    height: 50px;
    background-color: #CBBD9A;
    position: absolute;
    bottom: 40px;
}
.center h2:after{
    margin: 0 auto;
    left: 0;
    right: 0;
}
.padding_top{
    padding-top: 40px;
}
.sumary{
    width: 50%;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    padding: 10px;
    border: 10px solid #FFCC00;
    background-color: #3AAA5A;
}
.sumary span{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFCC00;
}
.sumary p{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.fastfact{
    padding: 20px;
}
.frame{
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
}
.frame img{
    object-fit: cover;
    width: 500px;
    height: 300px;
    float: left;
}
#collect1{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%*3);
    height: 300px;
}
.frame i{
    position: absolute;
    top: 150px;
    font-size: 30px;
    color: white;
    z-index: 3;
}
.frame .fa-chevron-left{
    left: 20px;
}
.frame .fa-chevron-right{
    right: 20px;
}
.detail h3{
    font: 100% "Montserrat", sans-serif;
    letter-spacing: 0.5px;
    font-size: 20px;
    line-height: 24px;
    color: #CBBD9A;
}
.detail h4{
    font-size: 14px;
    line-height: 24px;
    font-family: "Trirong", serif;
    color: #6E6B66;
    letter-spacing: 0.5px;
}
.collect2{
    width: 850px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}
.view{
    width: 2700px;
    height: 400px;
    position: absolute;
    left: -450px;
    top: 0;
}
.rollitem{
    display: block;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    margin-right: 50px;
    float: left;
    opacity: 0.5;
}
.rollitem img{
    width: 400px;
    height: 250px;
    object-fit: cover;
}
.cloned{
    opacity: 0.5;
}
.active{
    opacity: 1;
}
.viewpoint{
    overflow: hidden;
}



