.section_hoa{
    float: left;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}
span{
    color: white;
}
h1{
    color: black;
}
.decription_hoa{
    padding: 50px;
    font-size:20px ;
    font-family: 'Open Sans', sans-serif;

}
.decr1_hoa{
    color: rgba(255, 165, 0, 0.55);
    text-align: left;
    padding-left: 10px;
    display: block;
}

.decr2_hoa{
    text-align: left;
    color: #bbbbbb;
    font-size: 17px;
    padding-top: 35px;
    display: block;
}
.product_hoa{
    float: left;
}
h2{
    font-size: 50px;
}
.image {
    height :335px;
}
.image1_hoa{
    color: black;
}
.image1_hoa:hover{
    filter:brightness(50%);

    color: #bbbbbb;
}
img{
    display: block;
    width: 100%;
    height: 100%;
}
.box{
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tour{
    padding: 20px 0 30px;
}

