.section_hoa{
    float: left;
    width: 100%;
}
.container_hoa{
    float: left;
    width: 100%;
}
.decription_hoa{
    text-align: center;
    padding: 20px;
    font-size:20px ;
    font-family: 'Open Sans', sans-serif;
}
.product_hoa{
    float: left;
}
.image1{
    padding: 20px;
    width: 50%;
    float: left;
    text-align: center;
}
.avt_hoa{
    background-image:url("public/imgs/hinh-nen-con-ho-5.jpg");
    background-position :center;
    background-size:cover;
}
img{
    max-width: 100%;
}