.section{
    float: left;
    width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    color: #2F2911;
}
img{
    max-width: 100%;
}
.bar_item {
    text-align: right;
}
.bar_header div{
    padding-left: 0;
    padding-right: 0;
}
.full{
    float: left;
    width: 100%;
    position: relative;
}
#logo .full > a{
    float:left;
    width: 100%;
    padding: 18px 0;
}
.bar_item .full > a{
    float:left;
    width: 100%;
    padding: 25px 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-decoration: none;
    transition: color 0.4s;
}
.dd{
    text-align: left;
    border-top: 1px solid #CBBD9A;
    position: absolute;
    top:72px;
    left:0;
    width: 250%;
    padding-top: 10px;
    display: none;
    transition: display 1s;
    z-index: 50;
    background-color: #ffffff;
}
.dd ul{
    list-style: none;
    padding: 0;
}
.dd ul li{
    float:left;
    width: 100%;
    height: 40px;
}
.dd ul li a{
    float:left;
    width: 100%;
    padding: 7px 0px 7px 15px;
    transition: 0.4s;
}
.bar_enter .full > a{
    color: #CBBD9A;
}
.bar_item .full a{
    text-decoration: none;
}
.bar_enter .full .dd{
    display: block;
}
.item_hover > a{
    padding-left: 30px !important;
    color: #CBBD9A;
}
.slide_header{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.slide_header > ul{
    position: relative;
}
.slide_header ul >li{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 700px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    top:0;
}
#banner1{
    left:0;
}
#banner2{
    left:100%;
}
.bg_fade{
    position: absolute;
    top: 0;
    left:0;
    z-index: 2;
    width: 100%;
    height: 700px;
    background-color: rgba(34, 34, 34, 0.25);
    background-position: center;
}
#nav_bar{
    position: fixed;
    z-index: 3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.text_header{
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 200px;
    left:0;
}
.text{
    color: #ffffff;
}
.text h1{
    font-size: 55px;
    font-weight: 600;
    color: #ffffff;
}
.text p{
    font-size: 16px;
    padding: 15px 0 25px 0;
    font-weight: 300;
}
.text .btn_info{
    background-color: #CBBD9A ;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    transition: 0.4s;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 30px 0px;
    letter-spacing: 1px;
    border-radius: 2px;
}
.btn_enter{
    background-color: #ffffff !important;
    color: #CBBD9A !important;
}
.home_abus div{
    padding: 10px 0;
}
.home_abus h1{
    color: rgb(47, 41, 17);
    letter-spacing: 0px;
    font-size: 26px;
    line-height: 40px;
    font-weight: 400;
    text-shadow: rgb(136, 139, 141) 2px 2px 40px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0 0 0;
}
.home_abus p{
    font-family: 'Trirong', serif;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #6E6B66;
}
.home_abus_desc{
    padding-top: 35px;
}
.home_abus .col-xs-4{
    padding: 20px;
}
.home_abus .full{
    padding: 0 20px 0px 20px;
}
.home_abus .full img{
    width: 100%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 6px 30px 0;
}
.home_abus .full h4{
    padding-top: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: rgb(47, 41, 17);
    font-family: 'Trirong', serif;
    margin:0;
}
.home_abus .full p{
    font-size: 16px;
    font-style: italic;
}
#footer{
    background-color: #444;
    height: 390px;
}
